.card{
    border-radius: 30%;
}
.jumbotron{
    width: 100%
}
.portfolio{
    margin-top: 200px;
}
.search-form{
    padding:50px;
}

h1 {
    background-color: #0044FF ;
}

p {
    background-color: #101F9A ;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.card-columns{
    column-break-inside: avoid;
    display: inline-block;
}

.input-wrapper {
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
}

.input-container {
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    border-radius: 4px !important;
    border: 1px solid #DBDBDB !important;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08) !important;
    padding: 0px !important;
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
}
